# https://vitejs.dev/guide/env-and-mode.html
# Rename this file to ".env" and fill in your Giphy API key.
# https://developer.giphy.com/dashboard/?create=true
VITE_GIPHY_API_KEY=<YOUR_GIPHY_API_KEY_HERE>
